<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SupportMailBoxEmailId" value="technoverttest2@kci.com"/>
    <add key="SupportMailBoxEmailPassword" value="1qaz2wsx"/>
    <add key="NewTicketCreationAPIUrl" value="http://venus/api/Email/CreateTicketViaEmail/"/>
  </appSettings>
</configuration>